name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./udagram-api-feed/Dockerfile
            image: hub.docker.com/r/greyy2/udagram-api-feed
          - dockerfile: ./udagram-api-user/Dockerfile
            image: hub.docker.com/r/greyy2/udagram-api-user
          - dockerfile: ./udagram-frontend/Dockerfile
            image: hub.docker.com/r/greyy2/udagram-frontend
          - dockerfile: ./reverseproxy/Dockerfile
            image: hub.docker.com/r/greyy2/reverseproxy

    steps:
    - uses: actions/checkout@v3
      
    - name: Log in to Docker Hub
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: ${{ matrix.image }}

    - name: Build and push Docker image Drill4Net.Agent.Service
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        file: ${{ matrix.dockerfile }}
        push: true
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
